# top-most EditorConfig file
root = true

# comment this out if there is nothing inside of it
# dotnet_diagnostic needs to happen after this, not in it
[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
